:root: {
  --grid-cols: 1;
  --grid-rows: 1;
}

.board {
  display: ;
  content: ;
}

#container {
  border: 5px outset black;
  margin: 2rem;
  max-height: 840px;
  max-width: 840px;
  min-width: 840px;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  position: relative;
  height: 2em;
  width: 2em;
  border: 1.5px outset #ddd;
  text-align: center;
  color: white;
}

.grid-item, .transition-bottom {
  font-size: 16px;
  bottom: 0px;
  z-index: 2;
}

/* Starting Area */
.start-area {
  background-color: #E7AEFB;
  opacity: .7;
}

.start-area:hover {
  opacity: none;
  outline-color: #5C0979;
  outline-style: auto;
  outline-width: thin;
}

/* Terrain */
.water-terrain {
  background-color: #2EADFF;
}

.hindering-terrain {
  background-color: #0DAA06;
}

.blocking-terrain {
  background-color: #935500;
}

/* Walls */
.right-wall {
  border-right: 1.5px outset black;
}

.left-wall {
  border-left: 1.5px outset black;
}

.top-wall {
  border-top: 1.5px outset black;
}

.bottom-wall {
  border-bottom: 1.5px outset black;
}

/* Indoor Walls */
.indoor-right-wall {
  border-right: 1.5px inset yellow;
}

.indoor-left-wall {
  border-left: 1.5px outset yellow;
}

.indoor-top-wall {
  border-top: 1.5px outset yellow;
}

.indoor-bottom-wall {
  border-bottom: 1.5px inset yellow;
}

/* Windows */
.right-window {
  border-right: 1.5px dashed #4EBCFF;
}

.left-window {
  border-left: 1.5px dashed #4EBCFF;
}

.top-window {
  border-top: 1.5px dashed #4EBCFF;
}

.bottom-window {
  border-bottom: 1.5px dashed #4EBCFF;
}

/* Doors */
.right-door {
  border-right: 1.5px dashed black;
}

.left-door {
  border-left: 1.5px dashed black;
}

.top-door {
  border-top: 1.5px dashed black;
}

.bottom-door {
  border-bottom: 1.5px dashed black;
}

/* Elevation Terrain */
.elevation-terrain {
  background-color: #FFB2B2;
}

.right-et {
  border-right: 1.5px solid red;
}

.left-et {
  border-left: 1.5px solid red;
}

.top-et {
  border-top: 1.5px solid red;
}

.bottom-et {
  border-bottom: 1.5px solid red;
}

.right-et-transition {
  border-right: 1.5px outset red;
}

.left-et-transition {
  border-left: 1.5px outset red;
}

.top-et-transition {
  color: white;
  font-size: 10px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px outset transparent;
  border-right: 16px outset transparent;
  border-top: 16px outset red;
  top: 0px;
}

.bottom-et-transition {
  text-align: center;
  color: white;
  font-size: 10px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px outset transparent;
  border-right: 16px outset transparent;
  border-bottom: 16px outset red;
  bottom: 0px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 32px outset transparent;
  border-bottom: 32px outset transparent;
  border-left: 32px outset green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 32px outset transparent;
  border-bottom: 32px outset transparent;
  border-right: 32px outset blue;
}